h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-family: Base;
  line-height: 1.19;
  font-weight: @base-bold;
}
h1 {
  font-size: @heading-h1-size;
  @media (max-width: @screen-md-max) {
    font-size: @heading-h1-size * @heading-md-multiplier;
  }
  @media (max-width: @screen-xs-max) {
    font-size: @heading-h1-size * @heading-xs-multiplier;
  }
}
h2 {
  font-size: @heading-h2-size;
  @media (max-width: @screen-md-max) {
    font-size: @heading-h1-size * @heading-md-multiplier;
  }
  @media (max-width: @screen-xs-max) {
    font-size: @heading-h1-size * @heading-xs-multiplier;
  }
}
h3 {
  font-size: @heading-h3-size;
  @media (max-width: @screen-md-max) {
    font-size: @heading-h1-size * @heading-md-multiplier;
  }
  @media (max-width: @screen-xs-max) {
    font-size: @heading-h1-size * @heading-xs-multiplier;
  }
}
h4 {
  font-size: @heading-h4-size;
  @media (max-width: @screen-md-max) {
    font-size: @heading-h1-size * @heading-md-multiplier;
  }
  @media (max-width: @screen-xs-max) {
    font-size: @heading-h1-size * @heading-xs-h4-multiplier;
  }
}
h5 {
  font-size: @heading-h5-size;
  @media (max-width: @screen-md-max) {
    font-size: @heading-h1-size * @heading-md-multiplier;
  }
  @media (max-width: @screen-xs-max) {
    font-size: @heading-h1-size * @heading-xs-h5-multiplier;
  }
}
h6 {
  font-size: @heading-h6-size;
  @media (max-width: @screen-md-max) {
    font-size: @heading-h1-size * @heading-md-multiplier;
  }
  @media (max-width: @screen-xs-max) {
    font-size: @heading-h1-size * @heading-xs-multiplier;
  }
}

body {
  font-size: @font-size-base;
  font-family: Base;
  font-display: auto;
  font-weight: @base-bold-body;
}

.small-font {
  font-size: @small-font-size;
  font-family: Base;
  font-display: auto;
  font-weight: @base-bold-body;
  line-height: 1.6;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.position-relative {
  position: relative;
}

.ant-space {
  width: 100%;
  .spaced-between {
    width: auto;
  }
}

.left {
  padding-left: 24px ;
}
