//----------Menu styles---------//

.sider-style {
  height: 100vh;
  overflow: auto;
  padding: 22px 0 16px 16px;
  top: @layout-header-height;
  background-color: @side-menu-color;

  @media (max-width: @screen-md-max + 1) {
    top: 0;
  }
}

.page-side-menu-logo-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-side-menu-logo {
  object-fit: contain;
  object-position: center;
  height: 62%;
}

.menu-main-div {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu-top-right-options {
  width: 6rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.logged-in {
    justify-content: flex-end;
  }
}

.menu-user-status {
  font-size: 1rem;

  &.logged-in {
    color: @logged-in-color;
    margin-right: 1rem;
  }

  &.logged-out {
    color: @logged-out-color;
    margin-right: 1rem;
  }
}

.menu-header-layout {
  position: fixed;
  z-index: 11;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 6px 15px 1px rgba(0, 0, 0, 0.04);
}

.sider-main-layout {
  background-color: @side-menu-color;
}



//.ant-layout-header {
//  padding: 0 2%;
//
//  @media (max-width: @screen-md-max + 1) {
//    padding: 0 4%;
//  }
//}

.content-main-layout {
  padding: 2rem;
  overflow: initial;
  margin-top: @layout-header-height;
  background-color: @main-background-color;

  @media (max-width: @screen-sm-max) {
    padding: 1rem;
  }
}

.ant-layout-sider-trigger {
  background: @primary-color;
}

.mobile-hamburger-menu {
  position: absolute;
  top: 64px;
  width: 40%;
  height: 100vh;
  overflow-y: auto;
  z-index: 10;
  display: flex;
  right: 0;

  @media (max-width: @screen-sm-max) {
    width: 70vw;
  }
}

//----------Side Menu styles---------//

.side-menu-title-div {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;
  //width: 100%;

  &.secondary {
    margin: 1rem 0;
  }

  .padding-title {
    padding: 0 1.5rem;
  }
}

.side-menu-options-parent-div {
  padding: 0;
  background-color: @side-menu-color;

  //.side-menu-title-div();
}

.side-menu-options-title {
  width: 82%;
  margin: 0.5rem 0;
}

.side-menu-submenu-style {
  width: 100%;
  background-color: @side-menu-color;
}

.sider-collapse-button {
  position: absolute;
  top: 6rem;
  right: -1.8rem;
}

.select-arrow-boxes {
  min-width: 300px;

  .ant-select-arrow {
    border-radius: 0 6px 6px 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 100%;
    display: flex;
    margin-top: 0;
    color: transparent;
    align-items: center;
    justify-content: center;
    background-image: url("/btn_drop_down.svg");
  }

  .ant-picker-input > input {
    font-size: 12px;
  }

  &.small {
    min-width: 100px;
  }
}

//----------UserInfo styles---------//

.user-menu-info-main-div {
  margin-bottom: 50px;
}

.ant-layout-sider-children {
  position: fixed;
}

.user-menu-name-identifier {
  height: 2rem;
  width: 2rem;
  background-color: @primary-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @header-color;
}
