/*** Ant Design Less variables **/
@primary-color: #e4002b; // primary color for all components
@primary-hover-color: #d84b4b;
@alternate-button-color: #364c8e;
@alternate-hover-color: #445ca3;
@neutral-background-color: #dadada;
@box-shadow-base: 0 4px 8px rgba(0, 0, 0, 0.15); // major shadow for layers
@link-color: #1d1d1b; // link color
@view-color: #03a9f4; // success state color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #9d161d; // error state color
@font-size-base: 14px; // major text font size
@heading-color: #000000; // heading text color
@text-color: #4a4a4a; // major text color
@text-color-secondary: rgba(0, 0, 0, 0.45); // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color
@border-radius-base: 4px; // major border radius
@border-color-base: #d9d9d9; // major border color
@login-color: #323232; // header background color
@login-mask-color: #e2e9ed; // header background color
@header-color: #ffffff; // header background color
@header-text-color: #323232; // header text color
@side-menu-color: #ededed; // side menu background color
@main-background-color: #fcfcfc; //general background app color
@logged-in-color: #418564;
@logged-out-color: #616161;

/*** Ant Design Size variables **/
// Media queries breakpoints
// Extra small screen / phone
@screen-xs: 480px;
@screen-xs-min: @screen-xs;

// Small screen / tablet
@screen-sm: 576px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 768px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 992px;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: 1200px;
@screen-xl-min: @screen-xl;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;
@screen-xxl-min: @screen-xxl;

// provide a maximum
@screen-xs-max: (@screen-sm-min - 1px);
@screen-sm-max: (@screen-md-min - 1px);
@screen-md-max: (@screen-lg-min - 1px);
@screen-lg-max: (@screen-xl-min - 1px);
@screen-xl-max: (@screen-xxl-min - 1px);

//Data for fonts
@base-bold-body: normal;
@base-bold: 600;
