@table-header-bg: @text-color;
@table-header-color: @white;

// ---------- edit styles ----------

.edit-services-div {
  width: 100%;
  height: 100%;
  box-shadow: @box-shadow-base;
  border: solid 1px @neutral-background-color;
  padding: 1rem;
}

// ---------- Date show styles ----------

.date-component-div {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: solid 1px @neutral-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.primary-button-style {
  height: 2.5rem;
  width: 12rem;
  &.alternate-button-style {
    height: 2rem;
    border-color: @alternate-button-color;
    background-color: @alternate-button-color;
    &:hover {
      background-color: @alternate-hover-color;
    }
  }
  &:hover {
    background-color: @primary-hover-color;
  }
  &.cancel-button-style {
    border-color: @primary-color;
    color: @primary-color;
    &:hover {
      background-color: @primary-hover-color;
      color: @header-color;
    }
  }
}

//----------Menu styles---------//

.page-side-menu-logo-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-side-menu-logo {
  object-fit: contain;
  object-position: center;
  height: 62%;
}

.menu-main-div {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu-top-right-options {
  width: 6rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.logged-in {
    justify-content: flex-end;
  }
}
.menu-user-status {
  font-size: 1rem;
  &.logged-in {
    color: @logged-in-color;
    margin-right: 1rem;
  }
  &.logged-out {
    color: @logged-out-color;
    margin-right: 1rem;
  }
}

.menu-header-layout {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 6px 15px 1px rgba(0, 0, 0, 0.04);
}

.sider-main-layout {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: @side-menu-color;
}

.sider-style {
  // position: sticky;
  top: 64px;
  width: 100%;
  height: 100%;
  background-color: @side-menu-color;
  overflow: auto;
  min-height: 88vh;

  @media (max-width: @screen-md-max + 1) {
    top: 0px;
  }
}

.ant-layout-header {
  padding: 0 2%;

  @media (max-width: @screen-md-max + 1) {
    padding: 0 4%;
  }
}

.content-main-layout {
  margin: 64px 0 0 0;
  overflow: initial;
  padding: 2rem;
  background-color: @main-background-color;
  @media (max-width: @screen-sm-max) {
    padding: 1rem;
  }
}

.ant-layout-sider-trigger {
  background: @primary-color;
}

.mobile-hamburger-menu {
  position: absolute;
  top: 64px;
  width: 40%;
  height: 100vh;
  overflow-y: auto;
  z-index: 10;
  display: flex;
  right: 0;

  @media (max-width: @screen-sm-max) {
    width: 70vw;
  }
}

//----------Side Menu styles---------//

.side-menu-title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.secondary {
    margin: 1rem 0;
  }
}

.side-menu-options-parent-div {
  background-color: @side-menu-color;
  .side-menu-title-div();
}

.side-menu-options-title {
  width: 82%;
  margin: 0.5rem 0;
}

.side-menu-submenu-style {
  width: 100%;
  background-color: @side-menu-color;
}

.select-arrow-boxes {
  min-width: 300px;

  .ant-select-selector {
    border-radius: 0 !important;
  }

  .ant-select-arrow {
    top: 0;
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 100%;
    display: flex;
    margin-top: 0;
    color: transparent;
    align-items: center;
    justify-content: center;
    background-image: url("/btn_drop_down.svg");
  }
  .ant-picker-input > input {
    font-size: 12px;
  }
}
