@page-close-size: 87%; //size of page close
@page-open-size: 95%; //size of page open

@menu-open-size: 13%; //size of page open
@menu-close-size: 5%; //size of page open

@page-menu-anim-timer-close: width 0.4s; //anim on side menu close
@page-menu-anim-timer-open: width 0.3s; //anim on side menu open

@page-header-height: 54px; //size of page open

@page-menu-item-height: 40px; //size of menu item

@page-sub-menu-anim-timer-close: height 0.4s; //anim on sub-menu close
@page-sub-menu-anim-timer-open: height 0.3s; //anim on sub-menu close

//----------Menu styles---------//

.page-side-menu-logo-container {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-side-menu-logo {
  object-fit: contain;
  object-position: center;
  height: 62%;
}

.menu-main-div {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.menu-top-right-options {
  width: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header-layout {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 6px 15px 1px rgba(0, 0, 0, 0.04);
}

.sider-main-layout {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.sider-style {
  background-color: #ededed;
}

// .ant-layout-sider-trigger {
//   width: 20rem;
// }

.content-main-layout {
  margin: 64px 0 0 0;
  overflow: initial;
  padding: 2rem;
  background-color: #fcfcfc;
}

.ant-layout-sider-trigger {
  background: @primary-color;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: #eee;
}

//-------------------------

.row-header {
  background: @primary-color !important;
  color: #ffffff;
  font-weight: bold;
}
