@page-close-size: 87%; //size of page close
@page-open-size: 95%; //size of page open

@menu-open-size: 13%; //size of page open
@menu-close-size: 5%; //size of page open

@page-menu-anim-timer-close: width 0.4s; //anim on side menu close
@page-menu-anim-timer-open: width 0.3s; //anim on side menu open

@page-header-height: 54px; //size of page open

@page-menu-item-height: 40px; //size of menu item

@page-sub-menu-anim-timer-close: height 0.4s; //anim on sub-menu close
@page-sub-menu-anim-timer-open: height 0.3s; //anim on sub-menu close

.login-main-layout {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: @login-color;
}

.login-card-layout {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  height: auto !important;
  width: 100%;
}

.login-form
  > .ant-form-item
  > .ant-form-item-control
  > .ant-form-item-control-input
  > .ant-form-item-control-input-content
  > .ant-input-password,
.login-form
  > .ant-form-item
  > .ant-form-item-control
  > .ant-form-item-control-input
  > .ant-form-item-control-input-content
  > .ant-input,
.login-form
  > .ant-form-item
  > .ant-form-item-control
  > .ant-form-item-control-input
  > .ant-form-item-control-input-content
  > .ant-input-affix-wrapper {
  max-height: 48px !important;
  height: 48px !important;
}

.login-form
  > .ant-form-item
  > .ant-form-item-control
  > .ant-form-item-control-input
  > .ant-form-item-control-input-content
  > .ant-input-affix-wrapper
  > .ant-input-suffix {
  display: flex;
  align-items: center;
}

.login-form
  > .ant-form-item
  > .ant-form-item-control
  > .ant-form-item-control-input
  > .ant-form-item-control-input-content
  > .ant-input,
.login-form
  > .ant-form-item
  > .ant-form-item-control
  > .ant-form-item-control-input
  > .ant-form-item-control-input-content
  > .ant-input-affix-wrapper,
.login-form
  > .ant-form-item
  > .ant-form-item-control
  > .ant-form-item-control-input
  > .ant-form-item-control-input-content
  > .ant-input-affix-wrapper
  > .ant-input {
  background-blend-mode: multiply !important;
  background-image: linear-gradient(
    to bottom,
    rgba(9, 19, 33, 0.06),
    rgba(9, 19, 33, 0.06)
  ) !important;
}

.login-main-layout {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.login-form-mask {
  position: absolute;
  mask: url(/login-left-mask.svg);
  -webkit-mask: url(/login-left-mask.svg);
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: @login-mask-color;
  min-height: 100vh;
  width: 68%;
  height: 100%;
  top: 0;
  right: 0;
}

.login-image-bottom-container {
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  left: 0;
  z-index: 100;
}

.login-image-bottom {
  max-height: 100vh;
  width: 876px;
  height: 540px;
  object-fit: contain;
  object-position: bottom left;
}

.login-logo {
  width: 100%;
  object-fit: contain;
  object-position: center;
  max-height: 200px;
}

.page-main-layout {
  background: @side-menu-color !important;
  min-height: 100vh;
}

.page-layout {
  min-height: 100vh;
}

.page-content-layout {
  height: 100vh !important;
  overflow: scroll;
  background: @side-menu-color !important;
  align-self: flex-end;
}

.page-content-layout-anim {
  transition: @page-menu-anim-timer-open;
  background-color: @body-color !important;
  width: @page-close-size;
}

.page-content-layout-anim.-hide-menu {
  transition: @page-menu-anim-timer-close;
  background-color: @body-color !important;
  width: @page-open-size;
}

.page-inner-layout {
  padding: 15px 0px;
}

.page-side-menu-container {
  position: absolute !important;
  height: 100vh;
  overflow: scroll;
}

.page-side-menu-container-anim {
  transition: @page-menu-anim-timer-open;
  width: @menu-open-size !important;
}

.page-side-menu-container-anim.-hide-menu {
  transition: @page-menu-anim-timer-close;
  width: @menu-close-size !important;
}

.page-side-menu {
  line-height: 0px !important;
  height: auto !important;
  padding: 0px !important;
  border: 0px !important;
  background-color: @side-menu-color !important;
  color: @side-menu-text-color !important;
}

.page-side-menu-item {
  color: @side-menu-text-color !important;
  padding: 0px 20px;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
  height: @page-menu-item-height;
  width: 100%;
  cursor: pointer;
}

.page-side-menu-item:hover {
  background-color: @side-menu-hover-color !important;
}

.page-side-menu-item.-active {
  background-color: @side-menu-selected-color !important;
}

.page-side-menu-item.-hide-menu {
  justify-content: center;
}

.page-side-menu-item-sub-menu-container {
  transition: @page-sub-menu-anim-timer-close;
  overflow: hidden;
  height: 0px;
}

.page-side-menu-item-sub-menu-container.-show-sub-menu {
  transition: @page-sub-menu-anim-timer-open;
  height: @page-menu-item-height;
}

.page-side-menu-item-text {
  margin-left: 15px;
}

.page-side-menu-item-arrow {
  margin-left: 15px;
  font-size: 10px !important;
  font-weight: bold !important;
}

.page-side-menu-item > .anticon {
  font-size: 18px !important;
}

.page-side-menu-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.page-side-menu-logo {
  object-fit: contain;
  object-position: center;
  width: 80%;
  height: 85%;
}

.page-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  line-height: 0px !important;
  height: @page-header-height !important;
  padding: 0px !important;
  background-color: @header-color !important;
  color: @header-text-color !important;
  z-index: 1000;
}
.page-header-inner-layout {
  height: 100%;
  padding: 0px !important;
}

.page-header-side-menu {
  box-shadow: 0;
  background-color: @side-menu-color !important;
}

.page-menu-icon {
  font-size: 30px;
}

.page-header-avatar {
  background-color: @primary-color !important;
  vertical-align: middle !important;
  cursor: pointer;
}

.page-loading {
  z-index: 10000;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: rgba(9, 19, 33, 0.5);
}

.table-helper-header {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #323232;
  color: @primary-color;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  border-radius: 20px;
}

.search-bar {
  width: 40% !important;
  height: 90% !important;
  margin-right: 10px;
}

.table-helper-header-table {
  width: 60%;
  height: 90%;
  color: @primary-color;
  font-weight: bold;
  justify-content: space-between;
}

.table-helper-header-actions-container {
  flex-direction: row;
}

.table-helper-header-button {
  font-size: 13px !important;
  width: 70px;
  padding: 0px 10px !important;
  color: #ffffff !important;
  margin-right: 5px;
  transition-duration: 0.4s;
  border-radius: 20px;
  cursor: pointer;
}

.table-helper-header-button:hover {
  background-color: #ffffff !important;
  color: @text-color !important;
}

.table-helper-header-button.-view {
  border: 2px solid @view-color;
  background-color: @view-color;
}

.table-helper-header-button.-edit {
  border: 2px solid @warning-color;
  background-color: @warning-color;
}

.table-helper-header-button.-delete {
  border: 2px solid @error-color;
  background-color: @error-color;
}

.table-helper-header-button.-add {
  border: 2px solid @success-color;
  background-color: @success-color;
}

.table-helper-header-icon {
  cursor: pointer;
  margin-left: 15px;
  font-size: 20px;
}

.table-layout-main-container {
  width: 100%;
  background-color: #ffffff;
  padding: 26px 48px;
}

.table-component-table-container {
  width: 100%;
  margin-bottom: 24px;
}

.table-main-action-container {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.table-main-action {
  cursor: pointer;
  color: #ffffff !important;
  font-weight: bold;
  padding: 0px 24px;
  height: 40px;
  border-radius: 4px;
  border: 2px solid @success-color;
  background-color: @success-color;
}

.table-main-action-icon {
  font-size: 14px;
  margin-right: 6px;
}

.table-main-action:hover {
  background-color: #ffffff !important;
  color: @text-color !important;
}

.table-error-display-container {
  transition: height 0.2s, min-height 0.2s, padding 0.2s, border 0.2s;
  height: 0px;
  min-height: 0px;
  padding: 0;
  border: 0px;
  overflow: hidden;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
  background-color: #fff6f6;
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
  color: @error-color;
  font-weight: bold;
}

.table-error-display-container.-show {
  transition: height 0.2s, min-height 0.2s, padding 0.2s, border 0.2s;
  height: 100%;
  min-height: 0.7em;
  padding: 1em 1.5em;
  border: 1px solid @error-color;
  margin-top: 5px;
}

.table-label-display-container {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.table-label-display-required {
  font-weight: bold;
  color: @error-color;
}

.link-base {
  color: #0063e9 !important;
}

.link-base:hover {
  color: #5a97e9 !important;
}

.error-page {
  background-color: @body-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.error-page-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #eff0f1;
  width: 40%;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 21px 20px 41px 4px rgba(94, 94, 94, 0.59);
  -moz-box-shadow: 21px 20px 41px 4px rgba(94, 94, 94, 0.59);
  box-shadow: 21px 20px 41px 4px rgba(94, 94, 94, 0.59);
}

.error-page-card-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: @primary-color;
  width: 100%;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

.error-page-card-top-circle {
  background-color: #fdfeff;
  width: 20px;
  height: 20px;
  border-radius: 40px;
  margin-right: 10px;
}

.search-bar > .ant-input-wrapper {
  height: 90% !important;
}

.search-bar > .ant-input-wrapper > .ant-input {
  height: 90% !important;
}

.search-bar > .ant-input-wrapper > .ant-input-group-addon {
  padding: 0px;
  height: 100% !important;
  background-color: transparent;
}

.search-bar
  > .ant-input-wrapper
  > .ant-input-group-addon
  > .ant-input-search-button {
  padding: 2px 10px;
  margin-top: 3px;
  height: 90% !important;
}
