@page-close-size: 87%; //size of page close
@page-open-size: 95%; //size of page open

@page-menu-anim-timer-close: width 0.4s; //anim on side menu close
@page-menu-anim-timer-open: width 0.3s; //anim on side menu open

@page-header-height: 54px; //size of page open

@page-menu-item-height: 40px; //size of menu item

@page-sub-menu-anim-timer-close: height 0.4s; //anim on sub-menu close
@page-sub-menu-anim-timer-open: height 0.3s; //anim on sub-menu close

.title-style {
  color: @primary-color;
}

.spaced-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  &.spaced {
    justify-content: space-between;
  }
}

//----------admin Dashboard styles---------//

.admin-option-main-div {
  min-height: 300px;
  width: 85%;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #dadada;
  background-color: #ffffff;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

//----------Queues detail styles---------//

.upload-info-style {
  span {
    display: flex;
    .ant-upload-list {
      &.ant-upload-list-text {
        margin-left: 1rem;
        width: 20vw;
        overflow: hidden;
      }
    }
  }
}
